<div class="left-pane">
    <div data-dojo-type="dijit/layout/AccordionContainer" style="height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" title="Email">
            <div class="email-folder-container">
              <div data-dojo-type="dojo/store/Memory" data-dojo-id="mailTreeMemoryStore">

                <script type="dojo/method">
                     this.setData([
                         { id: 0, label: "Folders"},
                            {id: 1, label: "Inbox", parent: 0},
                            {id: 2, label: "Sent Items", parent: 0},
                            {id: 3, label: "Drafts", parent: 0}
                     ]);
                </script>

                <script type="dojo/method" data-dojo-event="getChildren" data-dojo-args="object">
                   return this.query({parent: object.id});
              </script>
            </div>

            <div data-dojo-type="dijit/tree/ObjectStoreModel" data-dojo-id="mailTreeModel"
              data-dojo-props="store: mailTreeMemoryStore, query: {id: 0}, labelAttr: 'label'"></div>

            <div data-dojo-type="dijit/Tree" id="mailTree"
                data-dojo-props="model: mailTreeModel, openOnClick: false">
                <script type="dojo/method" event="onClick" args="item">
                  dojo.require("app.mailList");
                  var mailList = new app.mailList(item.id);
                </script>
              </div>
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="Tasks/ Projects">
          <div class="tasks-container">
            <p>Tasks/ Project container</p>
          </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="Team">
          <div class="team-container">
            <p>Team container</p>
          </div>
        </div>
    </div>
</div>
